wifi_ssid: "<your wifi ssid>"
wifi_password: "<your wifi password>"
fallback_ap_ssid: "<your fallback hotspot ssid>"
fallback_ap_password: "<your fallback hotspot password>"
ha_api_password: "<your home assistant api password>"
ota_password: "<your ota upgrade password>"